<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlin_e_commerce" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_ecommerce"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic" >
        <activity
            android:name=".view_model.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.edit_products.EditProductsActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottom_nav.my_products.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.add_products.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.bottom_nav.product_details.ProductDetailsActivity"
            android:exported="false" />
        <activity android:name=".view.bottom_nav.BottomNavActivity" />
        <activity
            android:name=".view.auth.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".view.on_boarding.OnBoardingScreenActivity"
            android:exported="true" />
        <activity
            android:name=".view.splash.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ziJgUOoe3bpNSM" />
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>